@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}
<section class="contact-page container">
    <div class="contact-header">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="contact-content">
        <form>
            <div class="col-md-4 p-left-0">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Họ tên của bạn">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email của bạn">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Số điện thoại của bạn">
                </div>
            </div>
            <div class="col-md-8 p-right-0">
                <div class="form-group">
                    <textarea rows="11" class="form-control" placeholder="Nội dung"></textarea>
                </div>
                <div class="form-group text-right">
                    <input type="submit" value="Gởi" class="btn-register btn-contact" required="">
                </div>
            </div>
        </form>
    </div>
    
</section>