@inherits UmbracoTemplatePage
@{
    // Model.Content is the current page that we're on
    // AncestorsOrSelf is all of the ancestors this page has in the tree
    // (1) means: go up to level 1 and stop looking for more ancestors when you get there
    // First() gets the first ancestor found (the home page, on level 1)
    var homePage = CurrentPage.AncestorsOrSelf(1).First();
}
<!-- Nav -->

<ul class="breadcrumb">
    @* If the Url of the current page is "/" then we want to add the class "current_page_item" *@
    @* Otherwise, we set the class to null, that way it will not even be added to the <li> element *@
    <li><a href="/">Trang chủ</a></li>
    <li><a href="@CurrentPage.parent.Url">@CurrentPage.parent.Name</a></li>
    <li class="active"><a href="@CurrentPage.Url">@CurrentPage.Name</a></li>
</ul>

<!-- /Nav -->