@font-face{font-family:'AvantGardeBold';
           src:url('../fonts/AvantGarde/AvantGarde Bold.ttf') format('truetype')}
@font-face{font-family:'AvantGardeBook';
           src:url('/tp/T0091/fonts/AvantGarde Book.ttf') format('truetype')}
@font-face{font-family:'AvantGardeDemiBold';
           src:url('../fonts/AvantGarde/AvantGarde DemiBold.ttf') format('truetype')}
@font-face{font-family:'AvantGardeRegular';
           src:url('../fonts/AvantGarde/AvantGarde Regular.ttf') format('truetype')}